ScriptAssemblies
metadata
obj

*.DotSettings
*.csproj
*.sln
*.suo
/PathPlanner/UnityVS.PathPlanner.UnityScript.Plugins.unityproj
Temp

PathPlanner.exe
PathPlanner_Data

/PathPlanner/*.pidb

/PathPlanner/*.unityproj

/PathPlanner/*.userprefs

/PathPlanner/*.pdb
