ScriptAssemblies
metadata
obj

*.DotSettings
*.csproj
*.sln
*.suo
/PathPlanner/UnityVS.PathPlanner.UnityScript.Plugins.unityproj
Temp

PathPlanner.exe
PathPlanner_Data

/PathPlanner/*.pidb

/PathPlanner/*.unityproj

/PathPlanner/*.userprefs

/PathPlanner/*.pdb
PathPlanner_Web

/PathPlanner/PathPlanner_StandAlone_App.zip

/PathPlanner/UserStudy.exe

UserStudy_Data
